
// 收货地址按钮
.btn_address {
    // display: none;
    width: 60%;
    height: 90rpx;
    margin: 15rpx auto;
}
.address_info {
    padding: 15rpx;
    display: flex;
    .address_info_left{
        flex: 2;
    }
    .address_info_right{
        flex: 1;
        text-align: right;

    }
}
